h1#site-title {
    color: purple;
    font-family: "brush script mt";
    font-size: 80px;
    text-align: center;
}
  
nav ul {
    list-style: none;
    text-align: center;
}
  
header nav ul {
    padding: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: purple;
}
  
header nav ul li a {
    font-weight: bold;
    color: purple;
}

nav ul li a:hover {
      text-decoration: underline;
}

header nav ul li a {
      text-decoration: none;
}
  
@media all and (min-width: 416px) {
    nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
    }
}

h2 {
        background: purple;
        color: white;
        text-align: center;
        font-size: 30px;
        padding: 15px;
}
  
p {
        background: plum;
        font-family: verdana;
}
  
    